<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Equipo Docente</h2>
<table id="integrantes" class="sortable excel txt"><caption><a class="file excel" href="javascript:getTable('integrantes', 'excel' )"><span>Excel</span></a><a class="file ods" href="javascript:getTable('integrantes', 'ods' )"><span>ODS</span></a></caption>
<thead>
<tr class="odd">
  <th class="number">Nº</th>
  <th class="string" colspan="2"><h1>Integrante</h1><h2>Alias</h2></th>
  <th class="opciones">Opciones</th>
</tr>
</thead>
<tbody><tr class="separador even">
  <td colspan="4" class="number"><div title="Ayudante" class="sprite_cargos cargos_ayudante"></div> Ayudante</td>
</tr>
</tbody><tbody>
<tr class="odd">
  <td class="number">1</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/12/12b545e3ca96f6f186c0fffec5f8c91e/datos_usuario/2a517ff607e82cc829c185ffb342d5f5.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/12b545e3ca96f6f186c0fffec5f8c91e/">Carlos Alberto Vega Hernández</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa66614.91690772" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[12b545e3ca96f6f186c0fffec5f8c91e]" value="1"><a href="javascript:$('correo_5d5328dfa66614.91690772').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">2</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/b5/b537e60f0415a9fcd973b30dac2793eb/datos_usuario/av_588585cc09f47.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/b537e60f0415a9fcd973b30dac2793eb/">Catalina Martin D.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa66ac3.21694001" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[b537e60f0415a9fcd973b30dac2793eb]" value="1"><a href="javascript:$('correo_5d5328dfa66ac3.21694001').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">3</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/EV.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/f3b8b01666757ec543fc0b75f3ac177b/">Eduardo Valerio C.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa66e06.20254680" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[f3b8b01666757ec543fc0b75f3ac177b]" value="1"><a href="javascript:$('correo_5d5328dfa66e06.20254680').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">4</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/3d/3ddc3945b0a7ca3e632155ad8d763818/datos_usuario/av_5baaedcbcf1e2.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/3ddc3945b0a7ca3e632155ad8d763818/">Juan Gutiérrez T.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa67109.62557860" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[3ddc3945b0a7ca3e632155ad8d763818]" value="1"><a href="javascript:$('correo_5d5328dfa67109.62557860').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">5</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/4f/4f1d582fe00ff99a27fbe7adc7e86da5/datos_usuario/av_5c832c52addeb.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/4f1d582fe00ff99a27fbe7adc7e86da5/">Matías Rojas</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa673e9.66294721" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[4f1d582fe00ff99a27fbe7adc7e86da5]" value="1"><a href="javascript:$('correo_5d5328dfa673e9.66294721').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">6</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/2e/2eb060b492b0c9983faabbd0c755fe8a/datos_usuario/av_57ca15b4e6b07.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/2eb060b492b0c9983faabbd0c755fe8a/">Nicolás Villa Contardo</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa676c1.35730892" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[2eb060b492b0c9983faabbd0c755fe8a]" value="1"><a href="javascript:$('correo_5d5328dfa676c1.35730892').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">7</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/59/59509d6f2adcbd4588f0ce81ab0805e0/datos_usuario/av_5aa88a21ebe5d.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/59509d6f2adcbd4588f0ce81ab0805e0/">Sebastián Donoso</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa679a6.48235101" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[59509d6f2adcbd4588f0ce81ab0805e0]" value="1"><a href="javascript:$('correo_5d5328dfa679a6.48235101').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">8</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/76/769b1a4087b50838d1fcaaa136dd47ca/datos_usuario/av_581fddb6f2ee8.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/769b1a4087b50838d1fcaaa136dd47ca/">Sofia Herrera</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa69e06.46655886" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[769b1a4087b50838d1fcaaa136dd47ca]" value="1"><a href="javascript:$('correo_5d5328dfa69e06.46655886').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">9</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/4c/4c1724cfc4301fc790cd2c57bb83b33f/datos_usuario/av_58e75da91405b.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/4c1724cfc4301fc790cd2c57bb83b33f/">Victoria Arce A.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6a1f5.55912891" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[4c1724cfc4301fc790cd2c57bb83b33f]" value="1"><a href="javascript:$('correo_5d5328dfa6a1f5.55912891').submit()">Contactar</a></form></td>
</tr>
</tbody>
<tbody><tr class="separador even">
  <td colspan="4" class="number"><div title="Profesor Auxiliar" class="sprite_cargos cargos_profesor_auxiliar"></div> Profesor Auxiliar</td>
</tr>
</tbody><tbody>
<tr class="odd">
  <td class="number">1</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/87/87e6e3758c8bd5a46219f588451cb785/datos_usuario/av_5b9b09f786f65.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/87e6e3758c8bd5a46219f588451cb785/">Javiera Ovalle T.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6b7c1.15239245" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[87e6e3758c8bd5a46219f588451cb785]" value="1"><a href="javascript:$('correo_5d5328dfa6b7c1.15239245').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">2</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/JP.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/9300f57e90c13eefadf4a9d130edd34d/">Jorge Pinto</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6b9f3.15506938" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[9300f57e90c13eefadf4a9d130edd34d]" value="1"><a href="javascript:$('correo_5d5328dfa6b9f3.15506938').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">3</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/ea/ea046736dfeb5f5bdcd9d3d05fbaa383/datos_usuario/61d2133526a8a3ce847a0bd6e1fe2a41.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/ea046736dfeb5f5bdcd9d3d05fbaa383/">José Canto</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6bc88.84714300" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[ea046736dfeb5f5bdcd9d3d05fbaa383]" value="1"><a href="javascript:$('correo_5d5328dfa6bc88.84714300').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">4</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/38/38eb96b261c0735fbfbf0cf29b1fc5cd/datos_usuario/av_5515adc00768a.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/38eb96b261c0735fbfbf0cf29b1fc5cd/">Macarena V. Osorio A.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6be69.71296625" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[38eb96b261c0735fbfbf0cf29b1fc5cd]" value="1"><a href="javascript:$('correo_5d5328dfa6be69.71296625').submit()">Contactar</a></form></td>
</tr>
</tbody>
<tbody><tr class="separador odd">
  <td colspan="4" class="number"><div title="Profesor de Cátedra" class="sprite_cargos cargos_profesor_de_catedra"></div> Profesor de Cátedra</td>
</tr>
</tbody><tbody>
<tr class="even">
  <td class="number">1</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/15/15f90fe80d08bde10f2745f67a7a2ccf/datos_usuario/av_53207da853dfb.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/15f90fe80d08bde10f2745f67a7a2ccf/">Ángel Jiménez Molina</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6d196.88670105" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[15f90fe80d08bde10f2745f67a7a2ccf]" value="1"><a href="javascript:$('correo_5d5328dfa6d196.88670105').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">2</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/74/7412154948c78d86b3edf80fd29fee1b/datos_usuario/av_550b49c1c872c.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/7412154948c78d86b3edf80fd29fee1b/">Iván Díaz Campos</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6d3a8.81011098" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[7412154948c78d86b3edf80fd29fee1b]" value="1"><a href="javascript:$('correo_5d5328dfa6d3a8.81011098').submit()">Contactar</a></form></td>
</tr>
</tbody>
<tbody><tr class="separador even">
  <td colspan="4" class="number"><div title="Alumno" class="sprite_cargos cargos_alumno"></div> Alumno</td>
</tr>
</tbody><tbody>
<tr class="odd">
  <td class="number">1</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/18/180a99817b54924a2dce9ece3a4515d7/datos_usuario/av_593ac40e10af9.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/180a99817b54924a2dce9ece3a4515d7/">Ivania Aburto</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6dcf2.74271047" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[180a99817b54924a2dce9ece3a4515d7]" value="1"><a href="javascript:$('correo_5d5328dfa6dcf2.74271047').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">2</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/65/652971ddd627c9c0f476deb628972aac/datos_usuario/av_5a9e94ed1d009.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/652971ddd627c9c0f476deb628972aac/">Michelle Ahumada</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6ded1.71640458" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[652971ddd627c9c0f476deb628972aac]" value="1"><a href="javascript:$('correo_5d5328dfa6ded1.71640458').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">3</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/FB.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/91a139bd38f11672d00efbc017b0cb1d/">Felipe Barriga S.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6e075.33164670" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[91a139bd38f11672d00efbc017b0cb1d]" value="1"><a href="javascript:$('correo_5d5328dfa6e075.33164670').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">4</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/CB.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/cc42e983be13782ccdd4334b09cc25f4/">Cristofer Benavides R.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6e219.69602045" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[cc42e983be13782ccdd4334b09cc25f4]" value="1"><a href="javascript:$('correo_5d5328dfa6e219.69602045').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">5</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/02/02e4715fc47881df33147dcf4c147973/datos_usuario/av_550eeb5b3d4c4.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/02e4715fc47881df33147dcf4c147973/">Paula Berrios</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6f688.51040288" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[02e4715fc47881df33147dcf4c147973]" value="1"><a href="javascript:$('correo_5d5328dfa6f688.51040288').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">6</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/27/276efad117da2245bd20f13477799f52/datos_usuario/av_5ad77ac556ff1.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/276efad117da2245bd20f13477799f52/">Paula Cabrera G.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6f8a1.43630549" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[276efad117da2245bd20f13477799f52]" value="1"><a href="javascript:$('correo_5d5328dfa6f8a1.43630549').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">7</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/ff/ff2160c14679e058b182fd27164b683a/datos_usuario/av_5718f0c2a8806.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/ff2160c14679e058b182fd27164b683a/">Paula Macarena Cofré Saphier</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6fc05.23150385" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[ff2160c14679e058b182fd27164b683a]" value="1"><a href="javascript:$('correo_5d5328dfa6fc05.23150385').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">8</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/2a/2a52522df920c1b35d46ca85ad753206/datos_usuario/av_558b861b49d67.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/2a52522df920c1b35d46ca85ad753206/">Kyra Cossio G.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6fdd1.75294626" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[2a52522df920c1b35d46ca85ad753206]" value="1"><a href="javascript:$('correo_5d5328dfa6fdd1.75294626').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">9</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/c8/c8373210e26520db6f3edb901fc23a0d/datos_usuario/av_57a107e6cf192.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/c8373210e26520db6f3edb901fc23a0d/">Enrique Cumming S.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa6ff63.16071900" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[c8373210e26520db6f3edb901fc23a0d]" value="1"><a href="javascript:$('correo_5d5328dfa6ff63.16071900').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">10</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/81/81336d4e7a0e846d65283e4fb785fd54/datos_usuario/av_57e5ce626081b.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/81336d4e7a0e846d65283e4fb785fd54/">David De la Puente V.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa70102.33530273" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[81336d4e7a0e846d65283e4fb785fd54]" value="1"><a href="javascript:$('correo_5d5328dfa70102.33530273').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">11</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/ce/ce98032ef92799f0f246cc47355ad9e6/datos_usuario/av_5b7ba8973b5a9.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/ce98032ef92799f0f246cc47355ad9e6/">Diego Fuentes C.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa70383.76022852" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[ce98032ef92799f0f246cc47355ad9e6]" value="1"><a href="javascript:$('correo_5d5328dfa70383.76022852').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">12</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/2d/2d4a16310b63d0b4ef09079ff49947e6/datos_usuario/av_5540ec47368c4.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/2d4a16310b63d0b4ef09079ff49947e6/">Carla B. González Ávila</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa70553.41646789" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[2d4a16310b63d0b4ef09079ff49947e6]" value="1"><a href="javascript:$('correo_5d5328dfa70553.41646789').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">13</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/1f/1ff4b6974591cb3ef7a8574e0ef0751c/datos_usuario/av_593df0e285287.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/1ff4b6974591cb3ef7a8574e0ef0751c/">Alejandro González E.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa706e3.68537884" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[1ff4b6974591cb3ef7a8574e0ef0751c]" value="1"><a href="javascript:$('correo_5d5328dfa706e3.68537884').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">14</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/3b/3bbfcb348c62e1685a983e854be0de3d/datos_usuario/av_5b8359fae3265.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/3bbfcb348c62e1685a983e854be0de3d/">Martin Gonzalez H.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa70888.02832015" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[3bbfcb348c62e1685a983e854be0de3d]" value="1"><a href="javascript:$('correo_5d5328dfa70888.02832015').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">15</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/60/60613de3c8d6a51bb592811acc96bb04/datos_usuario/av_58f596967212b.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/60613de3c8d6a51bb592811acc96bb04/">Rodrigo Guerrero</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa70a15.68515969" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[60613de3c8d6a51bb592811acc96bb04]" value="1"><a href="javascript:$('correo_5d5328dfa70a15.68515969').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">16</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/GG.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/d68c673963ff71d347addf6fa12c0410/">Gonzalo Gutiérrez</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa70ba9.06934748" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[d68c673963ff71d347addf6fa12c0410]" value="1"><a href="javascript:$('correo_5d5328dfa70ba9.06934748').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">17</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/9a/9a562b62fc004fc6a53ba3a690575b1b/datos_usuario/av_54dad866da9fb.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/9a562b62fc004fc6a53ba3a690575b1b/">Gastón A. Guzmán Padilla</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa70d45.19842309" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[9a562b62fc004fc6a53ba3a690575b1b]" value="1"><a href="javascript:$('correo_5d5328dfa70d45.19842309').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">18</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/35/352f19fc5b5c14cc8cc94be3c73916de/datos_usuario/av_56d081f0b3443.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/352f19fc5b5c14cc8cc94be3c73916de/">Valentina Hermosilla K.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa72238.01526663" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[352f19fc5b5c14cc8cc94be3c73916de]" value="1"><a href="javascript:$('correo_5d5328dfa72238.01526663').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">19</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/BH.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/ef2cf609a1175ec200db348f1445a3e9/">Benjamín Hernth</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa72415.47868442" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[ef2cf609a1175ec200db348f1445a3e9]" value="1"><a href="javascript:$('correo_5d5328dfa72415.47868442').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">20</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/CH.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/193f3876bdd7e763289ab3350b911ada/">Catalina Hurtado Q.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa725b5.46377096" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[193f3876bdd7e763289ab3350b911ada]" value="1"><a href="javascript:$('correo_5d5328dfa725b5.46377096').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">21</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/99/990ab5a62a7f61b91c5532f4932ddc95/datos_usuario/av_5b15e74613b02.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/990ab5a62a7f61b91c5532f4932ddc95/">Joaquín Lamarca Cáceres</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa72759.98141333" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[990ab5a62a7f61b91c5532f4932ddc95]" value="1"><a href="javascript:$('correo_5d5328dfa72759.98141333').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">22</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/SL.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/ed13d665e1a84f01510dd48446d4d464/">Sergio Llanquinao C.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa728f3.05087553" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[ed13d665e1a84f01510dd48446d4d464]" value="1"><a href="javascript:$('correo_5d5328dfa728f3.05087553').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">23</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/02/02466b172e8ece760ecc991c582e36a5/datos_usuario/av_587c39f0cb2f1.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/02466b172e8ece760ecc991c582e36a5/">Marian Mazurett</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa72a85.28715115" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[02466b172e8ece760ecc991c582e36a5]" value="1"><a href="javascript:$('correo_5d5328dfa72a85.28715115').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">24</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/47/47b2e2c62f521c5ebf2a2be61fa4dae2/datos_usuario/av_5ccfbebc98a57.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/47b2e2c62f521c5ebf2a2be61fa4dae2/">Mario Medina Roa</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa72c48.51921386" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[47b2e2c62f521c5ebf2a2be61fa4dae2]" value="1"><a href="javascript:$('correo_5d5328dfa72c48.51921386').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">25</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/CM.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/6a382f07837efe66e29fd94de7f40641/">Cristóbal Montero C.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa72de2.83860526" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[6a382f07837efe66e29fd94de7f40641]" value="1"><a href="javascript:$('correo_5d5328dfa72de2.83860526').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">26</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/92/92716c10e31b946eb2bc69abb025dc86/datos_usuario/av_5acf4cd1d9681.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/92716c10e31b946eb2bc69abb025dc86/">Gianluca Musso Zapico</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa72f81.65729341" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[92716c10e31b946eb2bc69abb025dc86]" value="1"><a href="javascript:$('correo_5d5328dfa72f81.65729341').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">27</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/JN.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/39be2c9f16749c2845ca25b24d72b81c/">Juan Navarro S.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa73111.98606693" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[39be2c9f16749c2845ca25b24d72b81c]" value="1"><a href="javascript:$('correo_5d5328dfa73111.98606693').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">28</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/ac/ac1bb4ee787bcb71bd6aecde1a95170d/datos_usuario/av_5b71eedc30647.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/ac1bb4ee787bcb71bd6aecde1a95170d/">Nicolás D. Ojeda</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa732a6.59645137" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[ac1bb4ee787bcb71bd6aecde1a95170d]" value="1"><a href="javascript:$('correo_5d5328dfa732a6.59645137').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">29</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/58/58a12565627b29f7a9421cc6eb40d84c/datos_usuario/av_5d50a34185868.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/58a12565627b29f7a9421cc6eb40d84c/">Alfonso Ordóñez O.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa73431.73122430" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[58a12565627b29f7a9421cc6eb40d84c]" value="1"><a href="javascript:$('correo_5d5328dfa73431.73122430').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">30</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/NO.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/10e424f521465d74d68d7216a6cd12c6/">Nicolás Orozco A.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa735d7.33818352" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[10e424f521465d74d68d7216a6cd12c6]" value="1"><a href="javascript:$('correo_5d5328dfa735d7.33818352').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">31</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/43/438304134f3eed669e2771a1de316152/datos_usuario/av_58cd75318e476.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/438304134f3eed669e2771a1de316152/">Ismael Orrego V.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa74e09.44304897" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[438304134f3eed669e2771a1de316152]" value="1"><a href="javascript:$('correo_5d5328dfa74e09.44304897').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">32</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/11/116210dd78ead86a8091f23f389a9df2/datos_usuario/av_5bac06fa1555f.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/116210dd78ead86a8091f23f389a9df2/">José Pacheco A.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa75009.52805023" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[116210dd78ead86a8091f23f389a9df2]" value="1"><a href="javascript:$('correo_5d5328dfa75009.52805023').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">33</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/BP.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/4ceeeead6b1b4f19466c88eb00fa0288/">Barbara Pérez Arellano</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa751a2.06019881" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[4ceeeead6b1b4f19466c88eb00fa0288]" value="1"><a href="javascript:$('correo_5d5328dfa751a2.06019881').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">34</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/DQ.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/a0e7c3e2ce073a8da1361c46d46efd1d/">Daniel Quilodran</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa75348.65072741" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[a0e7c3e2ce073a8da1361c46d46efd1d]" value="1"><a href="javascript:$('correo_5d5328dfa75348.65072741').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">35</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/IQ.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/014a932ac63fed3be429b9d29ecbcbcb/">Ignacio Quiros M.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa754e1.56844013" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[014a932ac63fed3be429b9d29ecbcbcb]" value="1"><a href="javascript:$('correo_5d5328dfa754e1.56844013').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">36</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/RR.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/4317eefa626ab960de0fa0d072a6333a/">Alejandro Rodríguez E.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa75672.59771316" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[4317eefa626ab960de0fa0d072a6333a]" value="1"><a href="javascript:$('correo_5d5328dfa75672.59771316').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">37</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/a7/a7836802192f9cc1b73ab9ea1bc62530/datos_usuario/av_5d3b3dd316be2.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/a7836802192f9cc1b73ab9ea1bc62530/">Karla Rojas C.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa75848.98095595" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[a7836802192f9cc1b73ab9ea1bc62530]" value="1"><a href="javascript:$('correo_5d5328dfa75848.98095595').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">38</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/7c/7c093aa8194884f8cc628d9b6222b99f/datos_usuario/av_5c40942467089.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/7c093aa8194884f8cc628d9b6222b99f/">Carolina Salgado P.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa759e9.60421688" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[7c093aa8194884f8cc628d9b6222b99f]" value="1"><a href="javascript:$('correo_5d5328dfa759e9.60421688').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">39</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/fb/fbf6ada9605c58cde248e2d4c5c88f03/datos_usuario/av_5a9f8f6b87d87.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/fbf6ada9605c58cde248e2d4c5c88f03/">F. Giovanni Sanguineti</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa75b77.00621733" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[fbf6ada9605c58cde248e2d4c5c88f03]" value="1"><a href="javascript:$('correo_5d5328dfa75b77.00621733').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">40</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/VS.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/684b596b106d70984b61593ac8420065/">Valentina Sepúlveda S.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa75d12.32233417" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[684b596b106d70984b61593ac8420065]" value="1"><a href="javascript:$('correo_5d5328dfa75d12.32233417').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">41</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/images/siglas/JS.svg"></span>
      <a href="https://www.u-cursos.cl/usuario/a1a4b373601f38926da8aa8aff3b65e2/">Jazmín Silva P.</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa75ea8.31760096" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[a1a4b373601f38926da8aa8aff3b65e2]" value="1"><a href="javascript:$('correo_5d5328dfa75ea8.31760096').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">42</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/40/40fe9e975e4c7d7879f4791c22e85955/datos_usuario/av_5949d4e8b7d82.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/40fe9e975e4c7d7879f4791c22e85955/">Raimundo Torres</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa76038.81521293" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[40fe9e975e4c7d7879f4791c22e85955]" value="1"><a href="javascript:$('correo_5d5328dfa76038.81521293').submit()">Contactar</a></form></td>
</tr>
<tr class="odd">
  <td class="number">43</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/31/31664ca910ab7d9a1bad1d27ce7b9e5d/datos_usuario/av_57150ef8c45f9.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/31664ca910ab7d9a1bad1d27ce7b9e5d/">María José Berger</a>     </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa761d1.41797449" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[31664ca910ab7d9a1bad1d27ce7b9e5d]" value="1"><a href="javascript:$('correo_5d5328dfa761d1.41797449').submit()">Contactar</a></form></td>
</tr>
<tr class="even">
  <td class="number">44</td>
  <td class="string">
    <h1>
      <span class="u_avatar"><img alt="" class="logo avatar chica" src="https://static.u-cursos.cl/r/usuario/2f/2fa7ba8820d77b0250b28815285b905b/datos_usuario/av_59a88c3973ded.jpg"></span>
      <a href="https://www.u-cursos.cl/usuario/2fa7ba8820d77b0250b28815285b905b/">Nicolás Uribe S.</a>    </h1>

    
  </td>

  <td class="string">
  </td>

  <td class="opciones"><form id="correo_5d5328dfa77609.41219833" action="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/correo/enviar" method="post"><input type="hidden" name="mails[2fa7ba8820d77b0250b28815285b905b]" value="1"><a href="javascript:$('correo_5d5328dfa77609.41219833').submit()">Contactar</a></form></td>
</tr>
</tbody>
<col class="number col0 first"><col class="string col1"><col class="string col2"><col class="opciones col3 last"></table>

<table>
  <tr>
    <th>Comp</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>