<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<button><a href=/../turing> turing </a></button>
<button><a href=/../> index </a></button>



<h2>Equipo docente</h2>
<table><tr></tr>  
<tr><th>Ayudantes</th></tr>
   
   
<tr><th>Carlos Alberto Vega Hernández</th></th></tr>    

<tr><th>Catalina Martin D.</th></tr> 
    
<tr><th>Eduardo Valerio C.</th></tr> 
    
<tr><th>Juan Gutiérrez T.</th></tr> 
    
  
<tr><th>Matías Rojas</th></tr> 
    

<tr><<th>Nicolás Villa Contardo</th></tr> 
    

<tr><th>Sebastián Donoso</th></tr> 
    
<tr><th>Sofia Herrera</th></tr> 
    

<tr><th>Victoria Arce A.</th></tr> 
    
<tr><th>Profesor Auxiliar</th></tr> 
   
<tr><th>Javiera Ovalle T.</th></tr> 
    

<tr><th>Jorge Pinto</th></tr> 
    
   
<tr><th>José Canto</th></tr> 
    
  
<tr><th>Macarena V. Osorio A.</th></tr> 
    

<tr><th>Profesor de Cátedra</th></tr> 
 
<tr><th>Ángel Jiménez Molina</th></tr> 
    
  
<tr><th>Iván Díaz Campos </th></tr> 
</table>

</body>
</html>