<HTML>
<HEAD><TITLE> Caso Alan Turing</TITLE><HEAD>
<BODY BGCOLOR="pink">
<BODY>
	<button><a href=/../equipo> equipo docente</a></button>
<button><a href=/../> index </a></button>
<H1><CENTER><B>El caso de Alan Turing: Perdonado despues de muerto</B></CENTER></H1>

<H2><B><U><I> Quien fue Alan Turing?</I></U></B></H2>
<P>
<FONT SIZE=4><FONT FACE="CALIBRI">
Alan Mathison Turing, nacido en Paddington, Londres el 23 de junio de 1912 y muerto en Wilmslow, Cheshire, 7 de junio de 1954,
fue un matematico, logico, cientifico de la computacion, criptografo, filosofo, maratonista y corredor de ultra distancia britanico.
<BR>Es considerado uno de los padres de la ciencia de la computacion y precursor de la informatica moderna. Proporciono una influyente formalizacion de los conceptos de algoritmo y computacion: la maquina de Turing. Formulo su propia version de la hoy ampliamente aceptada tesis de Church-Turing.
</FONT></P>

<BR> <FONT SIZE=3><I><FONT FACE="Centaur">Alan Turing a los 16 anhos</FONT></I></FONT SIZE=3></IMG>
<BR>
<h2><B><U><I> Vida </I></U></B></H2>
<P><FONT SIZE=4><FONT FACE="CALIBRI">Desde temprana edad Turing demostro ser una mente brillante, sobre todo durante a la segunda guerra mundial y despues de esta, donde se desempenho en diversas areas tales como:</P>
<UL>
<LI>Descifrar los codigos nazis (particularmente de la maquina Enigma)
<LI>Ser director de la seccion Naval Enigma de Bletchley Park.
<LI>El disenho de uno de los primeros computadores electronicos programables digitales en el Laboratorio Nacional de Fisica del Reino Unido.
<LI> Concepcion del test de Turing (criterio segun el cual puede juzgarse la inteligencia de una maquina)
</UL>

<P> 
La carrera de Turing termino subitamente despues de ser procesado por ser homosexual. 
<BR>Dos anhos despues de su condena murio, segun la version oficial por suicidio, 
pero su muerte ha dado lugar a otras hipotesis incluida la del asesinato.
<BR>El 24 de diciembre de 2013, la reina Isabel II promulgo el edicto por el que se 
exonero oficialmente al matematico, quedando anulados todos los cargos en su contra</P></FONT>
<BR>
<BR><FONT SIZE=3><I><FONT FACE="Centaur"> Maquina codigo enigma</FONT></I></FONT SIZE=3></IMG>
<BR>
<h3><B><U><I> Datos interesantes: </I></U></B></H3>
<UL>
<LI><A HREF=https://es.wikipedia.org/wiki/Alan_Turing> Referencias</A> 
<LI><A HREF=https://es.wikipedia.org/wiki/Enigma_(m%C3%A1quina)>Maquina enigma</A> 
<LI><A HREF=https://es.wikipedia.org/wiki/Test_de_Turing>Test de Turing</A> 




</FONT SIZE=4>
<BR>

<BR>
<BR>
<BR>
<BR>



</BODY>
</BODY BGCOLOR="pink">
</HTML>
